 
 
section{

    display: flex;
    flex-direction: column;
 
}
.miniatura{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
flex-direction: row;
 
 box-shadow: black 2px;
width: 30%;
height: 250px;
border: solid 2px black ;
margin-left: 10%;
margin-right: 10%;
font-size: 0.8rem;
margin: 20px;
color: black;

padding: 40px;


}
img {
    align-items: center;
    width: 20%;
    border: black 2px solid;
    padding: 20px;
    
}
select{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
    border: solid black 8px;
    width: 60%;
    height: 50px;
}